@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Kumbh Sans", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.react-datepicker__input-container input {
  display: block;
  width: 100%;
  padding: 15px 25px 16px 50px;
  border-radius: 10px;
  font-size: 1.15rem;
}

.react-datepicker__input-container {
  border: 2px solid #f2f2f2;
}
